@use "sass:math"; //-> à mettre pour div !!!!

$dcc:255;
$trois:3;
$cinq:5;
$px:100px;

p{
    width:math.div($px, 5); // ->bonne formulation
    height: math.div(1000px, 5);
    background: rgb(math.div(255, 5), math.div(255, 17), math.div(255, 3));
}
    /*
  

    background: rgb(calc(255/5), 255/17, 255/3);
    Deprecation Warning: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.
    Recommendation: math.div(255, 3)
    More info and automated migrator: https://sass-lang.com/d/slash-div


      background: rgb(math.div(255, 5), math.div(255, 17), math.div(255,3));

      Error: There is no module with the namespace "math".
  ╷
9 │     background: rgb(math.div(255, 5), math.div(255, 17), math.div(255,3));
  │                     ^^^^^^^^^^^^^^^^
  ╵
  sass\main.scss 9:21  root stylesheet

    background: rgb(div(255, 5), div(255, 17), div(255, 3));
    Error: $red: div(255, 5) is not a number.
  ╷
9 │     background: rgb(div(255, 5), div(255, 17), div(255, 3));
  │                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  ╵
  sass\main.scss 9:17  root stylesheet


    */
   // color:rgb(#{div($dcc, 5)}, div(#{$dcc}, 17), div($dcc, $trois));
   
   



/*p{
    width:#{div($px, 5)};
    background: rgb(calc(255/5), 255/17, 255/3);
    color:rgb(div($dcc, 5), div(#{$dcc}, 17), div($dcc, $trois));
    
    -> div($dcc, 5) not a number
}*/